*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/inspectionProfiles/*
/.idea/libraries
/.idea/dictionaries
.DS_Store
/build
/captures
# Don't check in new versions of this automatically to avoid accidentally committing real API keys
app/src/main/res/values/apiKeys.xml
